{% extends 'base/home_newtemplate.html' %}
{% block title %}RegistroPeriodoAcademico{% endblock %}
{% block active_pa %}active{%endblock%}
{% block form %}
	<form method="POST">
		{% csrf_token %}
		<h3>Registro de Periodo Académico</h3>
		<div class="col-md-6">
			<label for="Nombre">Nombre</label>
			{{form.Nombre}}
			
			<label for="Nombre">FechaInicio</label>
			{{form.FechaInicio}}
			
			<label for="Nombre">FechaFinal</label>
			{{form.FechaFinal}}

			<label for="Nombre">Status</label>
			{{form.Status}}
			<br>
			<button type="submit" class="btn btn-success" value="Guardar">Guardar Periodo Académico</button>
    	</div>	
	</form>
</div>

{% endblock %}
